.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    position: relative;
}

.cabecalho_menu {
    display: inline-block;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__imagem {
    width: 10%;
    padding: 1em;

}

.cabecalho-lista {
    display: none;
    background-color: var(--cor-secundaria);
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.cabecalho-lista {
    display: block;
}

.container__menu {
    display: none;
}

.cabecalho-lista-titulo color;

var(--roxo) @media screen and (min-whidth: 1024px) {
    .container-titulo display: block;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 30px
}